.Back{
    width: 100%;
    height: 100vh;
    z-index: -1;
    /* background-image: linear-gradient(to top right,#8084fc,#78d0fc); */
    background-image: linear-gradient(to top right,#7c82fa,#74daff);
}